.select-dtd-container {
  position: relative;
  width: 30vw;
  height: 50px;
}
.select-dtd-container.active::before {
  top: 22px;
  transform: rotate(-225deg);
}
.select-dtd-container::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #333;
  border-top-color: transparent;
  border-right-color: transparent;
  right: 20px;
  top: 15px;
  z-index: 100;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}
.select-dtd-container .select-textbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);

  border: none;
  outline: none;

  padding: 12px 20px;
  border-radius: 10px;
}
.select-dtd-container.active .select-options {
  display: block;
}
.select-dtd-container .select-options {
  position: absolute;
  width: 100%;
  top: 70px;
  background-color: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
.select-options .select-option {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
}
.select-options .select-option:hover {
  color: #fff;
  background-color: #62bae6;
}
/* end Select */
